n8n-workflows/03_resposta_whatsapp.json
{
  "name": "SDR - 03 Resposta WhatsApp + Qualificação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n-webhook",
      "name": "Webhook - Resposta WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sdr-whatsapp-response"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst fromMe = body?.data?.key?.fromMe || body?.key?.fromMe || false;\nif (fromMe) return [];\n\nconst event = (body?.event || '').toLowerCase();\nif (event !== 'messages.upsert') return [];\n\nconst remoteJidCheck = body?.data?.key?.remoteJid || body?.key?.remoteJid || '';\nif (remoteJidCheck.includes('@g.us')) return [];\n\nconst remoteJid = body?.data?.key?.remoteJid || body?.key?.remoteJid || '';\nconst telefone  = remoteJid.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\nconst texto     = body?.data?.message?.conversation\n               || body?.data?.message?.extendedTextMessage?.text\n               || body?.message?.conversation\n               || '';\n\nif (!telefone || !texto) return [];\n\nreturn [{ json: { telefone, texto, event_raw: body } }];"
      },
      "id": "n-filter",
      "name": "Filtrar Mensagem Válida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ltqtfqoomjozcjdbxagb.supabase.co/rest/v1/sdr_leads?telefone=eq.' + $json.telefone + '&estado=not.in.(descartado,nao_qualificado,reuniao_agendada)&select=*&order=created_at.desc&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" }
          ]
        },
        "options": {}
      },
      "id": "n-get-lead",
      "name": "Buscar Lead por Telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-lead-found",
              "leftValue":  "={{ !!$json.id }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-if-lead",
      "name": "Lead encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const leads   = $('Buscar Lead por Telefone').item.json;\nconst lead    = Array.isArray(leads) ? leads[0] : leads;\nconst texto   = $('Filtrar Mensagem Válida').item.json.texto;\n\nconst historico = lead.historico_conversa || [];\nhistorico.push({ role: 'user', content: texto, ts: new Date().toISOString() });\n\nconst eraEmTentativa = ['tentativa_1','tentativa_2','tentativa_3'].includes(lead.estado);\n\nreturn [{\n  json: {\n    lead,\n    texto,\n    historico,\n    eraEmTentativa,\n    historico_json: JSON.stringify(historico)\n  }\n}];"
      },
      "id": "n-prep-lead",
      "name": "Preparar Lead e Histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ltqtfqoomjozcjdbxagb.supabase.co/rest/v1/client_actions?client_id=eq.' + $json.lead.client_id + '&select=crm,crm_access_token,crm_pipeline_id,crm_mapeamento,notif_whatsapp,notif_whatsapp_numero' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" }
          ]
        },
        "options": {}
      },
      "id": "n-get-config",
      "name": "Buscar Config Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ltqtfqoomjozcjdbxagb.supabase.co/rest/v1/clients?id=eq.' + $('Preparar Lead e Histórico').item.json.lead.client_id + '&select=nome_fantasia,razao_social' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" }
          ]
        },
        "options": {}
      },
      "id": "n-get-client",
      "name": "Buscar Dados Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "jsCode": "const prepData  = $('Preparar Lead e Histórico').item.json;\nconst lead      = prepData.lead;\nconst configs   = $('Buscar Config Cliente').item.json;\nconst clients   = $('Buscar Dados Cliente').item.json;\n\nconst config     = Array.isArray(configs) ? configs[0] : configs;\nconst clientRec  = Array.isArray(clients) ? clients[0] : clients;\nconst mapeamento = config?.crm_mapeamento || {};\nconst nomeFantasia = (clientRec?.nome_fantasia || '').toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '');\n\nconst historico = prepData.historico;\nconst systemPrompt = `Você é um SDR de IA da ${clientRec?.razao_social || 'empresa'}. Analise a conversa e faça qualificação BANT com foco em Budget e Authority primeiro.\\n\\nResposta OBRIGATÓRIA em JSON:\\n{\\n  \"acao\": \"qualificado\" | \"nao_qualificado\" | \"continuar\" | \"agendar\",\\n  \"resposta\": \"mensagem para enviar ao lead (em português, natural)\",\\n  \"bant_budget\": \"o que descobrimos sobre budget\",\\n  \"bant_authority\": \"o que descobrimos sobre quem decide\",\\n  \"bant_need\": \"qual a necessidade\",\\n  \"bant_timeline\": \"prazo\",\\n  \"motivo_perda\": \"motivo se nao_qualificado, senão null\"\\n}\\n\\nRegras:\\n- \"qualificado\": lead tem budget, é o decisor (ou influenciador), tem necessidade real\\n- \"nao_qualificado\": claramente sem budget, sem autoridade, sem fit\\n- \"agendar\": lead qualificado e PEDIU ou ACEITOU reunião\\n- \"continuar\": ainda qualificando, precisa de mais informações\\n- Seja natural, humano, não robótico. Máximo 3 linhas por mensagem.`;\n\nconst messages = historico.map(h => ({\n  role: h.role,\n  content: h.content\n}));\n\nconst claudePayload = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  system: systemPrompt,\n  messages\n});\n\nreturn [{\n  json: {\n    lead,\n    config,\n    mapeamento,\n    instance_name:    nomeFantasia,\n    historico:        prepData.historico,\n    eraEmTentativa:   prepData.eraEmTentativa,\n    claude_payload:   claudePayload,\n    historico_json:   prepData.historico_json\n  }\n}];"
      },
      "id": "n-montar-claude",
      "name": "Montar Prompt BANT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",        "value": "SUA_CHAVE_ANTHROPIC_AQUI" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type",      "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.claude_payload }}",
        "options": {}
      },
      "id": "n-claude",
      "name": "Claude - Qualificação BANT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "jsCode": "const claudeResp    = $input.item.json;\nconst montar        = $('Montar Prompt BANT').item.json;\n\nconst rawText = claudeResp?.content?.[0]?.text || '{}';\n\nlet bant;\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  bant = JSON.parse(clean);\n} catch(e) {\n  bant = { acao: 'continuar', resposta: 'Pode me contar um pouco mais sobre sua situação?' };\n}\n\nconst historico = montar.historico || [];\nhistorico.push({ role: 'assistant', content: bant.resposta, ts: new Date().toISOString() });\n\nconst update = {\n  historico_conversa: historico,\n  ultima_acao_at:     new Date().toISOString(),\n  proxima_acao:       null,\n  proxima_acao_at:    null\n};\n\nif (bant.bant_budget)    update.bant_budget    = bant.bant_budget;\nif (bant.bant_authority) update.bant_authority = bant.bant_authority;\nif (bant.bant_need)      update.bant_need      = bant.bant_need;\nif (bant.bant_timeline)  update.bant_timeline  = bant.bant_timeline;\n\nif      (bant.acao === 'qualificado' || bant.acao === 'agendar') update.estado = 'qualificado';\nelse if (bant.acao === 'nao_qualificado')                         update.estado = 'nao_qualificado';\nelse                                                              update.estado = 'em_conversa';\n\nif (bant.motivo_perda)   update.motivo_perda  = bant.motivo_perda;\nif (bant.acao === 'qualificado' || bant.acao === 'agendar') update.qualificado = true;\nif (bant.acao === 'nao_qualificado') update.qualificado = false;\n\nconst stageMap = {\n  em_conversa:     montar.mapeamento.em_conversa,\n  qualificado:     montar.mapeamento.em_conversa,\n  nao_qualificado: montar.mapeamento.nao_qualificado_ia,\n  agendar:         montar.mapeamento.reuniao_agendada\n};\n\nreturn [{\n  json: {\n    lead:            montar.lead,\n    config:          montar.config,\n    mapeamento:      montar.mapeamento,\n    instance_name:   montar.instance_name,\n    bant,\n    resposta:        bant.resposta,\n    acao:            bant.acao,\n    stageId:         stageMap[bant.acao === 'agendar' ? 'agendar' : update.estado] || null,\n    supabase_update: JSON.stringify(update)\n  }\n}];"
      },
      "id": "n-parse-bant",
      "name": "Processar Resposta BANT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evolution-api-production-2155.up.railway.app/message/sendText/' + $json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "5276abc4da675e15947a9a4f205fa92ea29ca5bd741cbce008b9ec5df27b765a" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.lead.telefone, text: $json.resposta }) }}",
        "options": {}
      },
      "id": "n-send-resp",
      "name": "Enviar Resposta ao Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 120]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://crm.rdstation.com/api/v1/deals/' + $('Processar Resposta BANT').item.json.lead.crm_deal_id + '?token=' + $('Processar Resposta BANT').item.json.config.crm_access_token }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept",       "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ deal: { deal_stage_id: $('Processar Resposta BANT').item.json.stageId } }) }}",
        "options": {}
      },
      "id": "n-rd-move",
      "name": "Mover Stage RD Station",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://ltqtfqoomjozcjdbxagb.supabase.co/rest/v1/sdr_leads?id=eq.' + $('Processar Resposta BANT').item.json.lead.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cXRmcW9vbWpvemNqZGJ4YWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDkyNzIsImV4cCI6MjA5MTA4NTI3Mn0.JuWCuDAQzUURMDEislGVFiKsW1_Kxqr4oASFzBF40mQ" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Processar Resposta BANT').item.json.supabase_update }}",
        "options": {}
      },
      "id": "n-update-lead",
      "name": "Atualizar Lead Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-qualificado",
              "leftValue":  "={{ ['qualificado','agendar'].includes($('Processar Resposta BANT').item.json.acao) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-if-qualif",
      "name": "Lead Qualificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 220]
    },
    {
      "parameters": {
        "jsCode": "const bant          = $('Processar Resposta BANT').item.json.bant;\nconst lead          = $('Processar Resposta BANT').item.json.lead;\nconst config        = $('Processar Resposta BANT').item.json.config;\nconst instance_name = $('Processar Resposta BANT').item.json.instance_name;\n\nconst numero = (config.notif_whatsapp_numero || '').replace(/\\D/g, '');\nif (!numero) return [];\n\nconst titulo = bant.acao === 'agendar' ? '📅 Lead quer agendar reunião!' : '✅ Lead qualificado!';\n\nconst msg = `🔔 *${titulo}*\n\n*Nome:* ${lead.nome}\n*Telefone:* +${lead.telefone}\n*Origem:* ${lead.origem || 'desconhecido'}\n\n*Budget:* ${bant.bant_budget || 'N/A'}\n*Decisor:* ${bant.bant_authority || 'N/A'}\n*Necessidade:* ${bant.bant_need || 'N/A'}\n*Prazo:* ${bant.bant_timeline || 'N/A'}\n\nAcesse o CRM para dar sequência.`;\n\nreturn [{ json: { numero, msg, instance_name } }];"
      },
      "id": "n-montar-notif",
      "name": "Montar Notif Vendedor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evolution-api-production-2155.up.railway.app/message/sendText/' + $json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "5276abc4da675e15947a9a4f205fa92ea29ca5bd741cbce008b9ec5df27b765a" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.numero, text: $json.msg }) }}",
        "options": {}
      },
      "id": "n-send-notif",
      "name": "Enviar Notif Vendedor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 120]
    },
    {
      "parameters": {
        "jsCode": "const bant       = $('Processar Resposta BANT').item.json.bant;\nconst config     = $('Processar Resposta BANT').item.json.config;\nconst lead       = $('Processar Resposta BANT').item.json.lead;\nconst historico  = $('Montar Prompt BANT').item.json.historico || [];\n\nconst ultimaMsg  = [...historico].reverse().find(h => h.role === 'user')?.content || '';\nconst resposta   = bant.resposta || '';\n\nconst now = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nconst texto = `🤖 [SDR IA] ${now}\\n\\n💬 Lead: ${ultimaMsg}\\n🤖 IA: ${resposta}\\n\\n📊 BANT:\\n💰 Budget: ${bant.bant_budget || 'N/A'}\\n👤 Decisor: ${bant.bant_authority || 'N/A'}\\n🎯 Necessidade: ${bant.bant_need || 'N/A'}\\n⏱ Prazo: ${bant.bant_timeline || 'N/A'}\\n\\n📌 Status: ${bant.acao}`;\n\nreturn [{ json: {\n  token:   config.crm_access_token,\n  payload: JSON.stringify({ activity: { deal_id: lead.crm_deal_id, type: 'note', text: texto } })\n} }];"
      },
      "id": "n-montar-anotacao",
      "name": "Montar Anotação CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://crm.rdstation.com/api/v1/activities?token=' + $json.token }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept",       "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "n-criar-anotacao",
      "name": "Criar Anotação RD Station",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "n-respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3540, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"ignored\": true }",
        "options": {}
      },
      "id": "n-respond-ignore",
      "name": "Ignorar Mensagem",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Webhook - Resposta WhatsApp": {
      "main": [[{ "node": "Filtrar Mensagem Válida", "type": "main", "index": 0 }]]
    },
    "Filtrar Mensagem Válida": {
      "main": [[{ "node": "Buscar Lead por Telefone", "type": "main", "index": 0 }]]
    },
    "Buscar Lead por Telefone": {
      "main": [[{ "node": "Lead encontrado?", "type": "main", "index": 0 }]]
    },
    "Lead encontrado?": {
      "main": [
        [{ "node": "Preparar Lead e Histórico", "type": "main", "index": 0 }],
        [{ "node": "Ignorar Mensagem",           "type": "main", "index": 0 }]
      ]
    },
    "Preparar Lead e Histórico": {
      "main": [[{ "node": "Buscar Config Cliente", "type": "main", "index": 0 }]]
    },
    "Buscar Config Cliente": {
      "main": [[{ "node": "Buscar Dados Cliente", "type": "main", "index": 0 }]]
    },
    "Buscar Dados Cliente": {
      "main": [[{ "node": "Montar Prompt BANT", "type": "main", "index": 0 }]]
    },
    "Montar Prompt BANT": {
      "main": [[{ "node": "Claude - Qualificação BANT", "type": "main", "index": 0 }]]
    },
    "Claude - Qualificação BANT": {
      "main": [[{ "node": "Processar Resposta BANT", "type": "main", "index": 0 }]]
    },
    "Processar Resposta BANT": {
      "main": [
        [
          { "node": "Enviar Resposta ao Lead",  "type": "main", "index": 0 },
          { "node": "Mover Stage RD Station",   "type": "main", "index": 0 },
          { "node": "Montar Anotação CRM",      "type": "main", "index": 0 }
        ]
      ]
    },
    "Enviar Resposta ao Lead": {
      "main": [[
        { "node": "Atualizar Lead Supabase", "type": "main", "index": 0 },
        { "node": "Lead Qualificado?",       "type": "main", "index": 0 }
      ]]
    },
    "Mover Stage RD Station": {
      "main": [[{ "node": "Atualizar Lead Supabase", "type": "main", "index": 0 }]]
    },
    "Atualizar Lead Supabase": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    },
    "Lead Qualificado?": {
      "main": [
        [{ "node": "Montar Notif Vendedor", "type": "main", "index": 0 }],
        []
      ]
    },
    "Montar Notif Vendedor": {
      "main": [[{ "node": "Enviar Notif Vendedor", "type": "main", "index": 0 }]]
    },
    "Enviar Notif Vendedor": {
      "main": []
    },
    "Montar Anotação CRM": {
      "main": [[{ "node": "Criar Anotação RD Station", "type": "main", "index": 0 }]]
    },
    "Criar Anotação RD Station": {
      "main": []
    }
  },
  "settings": { "executionOrder": "v1" }
}
